include README.md LICENSE
recursive-include cftw * *
recursive-include cftw * * *
recursive-include cftw * * * *
recursive-include cftw * * * * *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
